name: Publish Website

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy Website Every Commit
    runs-on: ubuntu-latest
    steps:
      - name: Get Latest Code
        uses: actions/checkout@v3

      - name: Sync Files
        uses: SamKirkland/web-deploy@v1
        with:
          target-server: dev.hydromet.net.au
          remote-user: admin@hydromet.net.au
          private-ssh-key: ${{ secrets.SSH_KEY }}
          destination-path: /home/hydromet/dev.hydromet.net.au/wp-content/themes/my-classic-theme/
